<div class="bg-white shadow-md rounded-xl p-4">
  <h2 class="text-lg font-semibold mb-4">Your Cart</h2>
  <div *ngIf="cartItems.length === 0" class="text-gray-500">
    Your cart is empty.
  </div>
  <div *ngFor="let item of cartItems" class="flex justify-between items-center mb-4">
    <div class="flex items-center">
      <img [src]="item.image.thumbnail" [alt]="item.name" class="w-16 h-16 object-cover rounded-lg">
      <div class="ml-4">
        <h3 class="text-base font-medium">{{ item.name }}</h3>
        <p class="text-sm text-gray-600">{{ item.price | currency:'USD':'symbol' }}</p>
      </div>
    </div>
    <div class="flex items-center">
      <button class="text-red-600" (click)="removeFromCart(item)">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
        </svg>
      </button>
      <span class="mx-2">{{ item.quantity }}</span>
    </div>
  </div>
  <div class="mt-4 font-bold text-right">
    Total: {{ getTotal() | currency:'USD':'symbol' }}
  </div>
  <!-- Confirm Order Button -->
  <button class="mt-4 w-full py-2 bg-orange-800 text-white font-semibold rounded-full hover:bg-orange-900" (click)="confirmOrder()">
    Confirm Order
  </button>
</div>

<app-order-confirmation *ngIf="viewModal" [cartItems]="cartItems" [total]="getTotal()" (complete)="closeModal()"></app-order-confirmation>
